[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v9.x-binary
	shallow = true
[submodule "third_party/libfdt"]
	path = third_party/libfdt
	url = https://codeberg.org/osdev/libfdt.git
[submodule "third_party/cc_runtime"]
	path = third_party/cc_runtime
	url = https://codeberg.org/osdev/cc-runtime
[submodule "third_party/freestnd_c_hrds"]
	path = third_party/freestnd_c_hrds
	url = https://codeberg.org/osdev/freestnd-c-hdrs-0bsd.git
