[submodule "third_party/libfdt"]
	path = third_party/libfdt
	url = https://codeberg.org/osdev/libfdt.git
[submodule "third_party/cc_runtime"]
	path = third_party/cc_runtime
	url = https://codeberg.org/osdev/cc-runtime
[submodule "third_party/freestnd_c_hdrs"]
	path = third_party/freestnd_c_hdrs
	url = https://codeberg.org/osdev/freestnd-c-hdrs-0bsd.git
[submodule "third_party/limine-protocol"]
	path = third_party/limine-protocol
	url = https://codeberg.org/Limine/limine-protocol.git
